---
import { settings } from '../data/settings';
import SocialLinks from './SocialLinks.astro';

interface Props {
  featuredImage?: string;
}

const { featuredImage = '/images/generic/main-cover.webp' } = Astro.props;
---

<header class="header">

  <div class="header-image header-image--on" style={`background-image: url(${featuredImage});`}></div>
  <div class="header-image"></div>

  <div class="header-overlay"></div>

  <div class="header__content">

    {settings.header.logo_image ? (
      <a href="/" class="header__logo">
        <img src={settings.header.logo_image} class="header__logo__img" alt={settings.basic.site_title}>
      </a>
    ) : (
      <a href="/" class="header__title">
        {settings.basic.site_title}
      </a>
    )}

    <p class="header__tagline">{settings.basic.site_tagline}</p>

    <div class="menu">
      <div class="menu__toggle js-menu-toggle">
        <div class="menu__toggle__icon"><span></span></div>
      </div>
      <div class="menu__wrap">
        <ul class="menu__list">
          {settings.menu.map((item) => (
            <li class="menu__list__item">
              <a href={item.url} class="menu__list__item__link">{item.title}</a>
            </li>
          ))}
        </ul>
        <SocialLinks />
      </div>
    </div>

  </div>

</header>
